/*FOOTER*/ 
footer {
    background-color: aquamarine ;
    bottom: 0;
    width: 100%;
    height: 85px;
    position: absolute ;
  letter-spacing: 15px;
  text-align: center;
}

.footer__imagenes {
    height: 35px;
    justify-content: center;
    margin-right: 21px;
   align-items: center;
}

/*INICIO*/ 
.carousel-item{
    height: 300px;
    width: 1000px;
    margin-left: 200px;
  }

  .carrusel {
    height: 300px;
    width: 1000px;
  }

  .texto__1 {
    text-align: center;
    margin: 5px;
  }

  .parr {
    color: black;  
    font-size: 15px;
    margin: 5px;
    text-align: center;
  }

  .botonera{
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 15px;
    margin: 5px;
    text-align: center; 
  }

  /*BODY*/
  body{
      background-color: burlywood;
  }

  /*SERVICIOS*/
  .texto {
    color: white;
    text-align: center;
    margin: 5px;  
  }

  $animal: caballo; 
p {
      @if $animal == gato {
             color: blue;
             background-color: white;
      } @else if $animal == perro {
                 color: red;
                 background-color: white;
     } @else if $animal == caballo {
                color: green;
                background-color: white;
     } @else {
                color: black;
      }
}
